@model List<bibliothek.Ausleihe>

@using bibliothek
@{
    ViewBag.Title = "index";
}

@Html.ActionLink("Home", "Index", "Home");


<h2>Ausleihe</h2>

<table class="overview">
    <tr>
        <th>@Html.LabelFor(x => new Ausleihe().Buch.Titel)</th>
        <th>@Html.LabelFor(x => new Ausleihe().Buch.Autor)</th>
        <th>@Html.LabelFor(x => new Ausleihe().Nutzer.Vorname)</th>
        <th>@Html.LabelFor(x => new Ausleihe().Nutzer.Name)</th>
        <th>@Html.LabelFor(x => new Ausleihe().Von)</th>
        <th>@Html.LabelFor(x => new Ausleihe().Bis)</th>
        <th>@Html.LabelFor(x => new Ausleihe().Rueckgabe)</th>
    </tr>
    @foreach (var ausleihe in Model)
    {
        <tr>
            <td>@ausleihe.Buch.Titel</td>
            <td>@ausleihe.Buch.Autor</td>
            <td>@ausleihe.Nutzer.Vorname</td>
            <td>@ausleihe.Nutzer.Name</td>
            <td>@ausleihe.Von</td>
            <td>@ausleihe.Bis</td>
            <td>
                @if (@ausleihe.Rueckgabe == null)
                {
                    @Html.ActionLink("zurückgeben", "Return", new {id = ausleihe.Id})
                }
                else
                {
                    @ausleihe.Rueckgabe
                }
            </td>
        </tr>
    }
</table>
