@using System.Web.Mvc.Html
@using bibliothek
@model List<bibliothek.Nutzer>

@{
    ViewBag.Title = "index";
}

@ViewBag.Msg

@Html.ActionLink("Home", "Index", "Home");


<h2>Nutzer</h2>

<table class="overview">
    <tr>
        <th>@Html.LabelFor(x => new Nutzer().Vorname)</th>
        <th>@Html.LabelFor(x => new Nutzer().Name)</th>
        <th>@Html.LabelFor(x => new Nutzer().Geburtsdatum)</th>
        <th>Löschen</th>
        <th>Anz. Bücher</th>
    </tr>
    @foreach (var nutzer in Model)
    {
        <tr>
            <td>@nutzer.Vorname</td>
            <td>@nutzer.Name</td>
            <td>@nutzer.Geburtsdatum.ToShortDateString()</td>
            <td>@if (@nutzer.AusleiheList.Count == 0)
                {
                @Html.ActionLink("löschen", "Delete", new {id = nutzer.Id})
                }
                else
                {
                    <text> </text>
                }
            </td>
            <td>
                @if(@nutzer.AusleiheList.Count > 0)
                {
                    @Html.ActionLink(@nutzer.AusleiheList.Count.ToString(), "AusleiheOverview", new {nutzerId = nutzer.Id})
                    }
                else
                {
                @nutzer.AusleiheList.Count
                    }
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Nutzer anlegen", "New")

